.heading{
    margin-top: 0;
    text-align: center;

}

.heading:hover{
    transition: 0.5s;

}
body{
    margin:0px;
    background-color: #f8f8f8;
}
#input{
    width: 230px;
    height: 20px;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}

#add{
    width: 70px;
    height: 40px;
    background-color: rgb(130, 229, 130);
    border-radius: 30px;
    box-shadow: 5px 2px 5px;
}
#add:hover{
    box-shadow: 10px 4px 10px;
    transition: 0.5s;
    background-color: rgb(56, 255, 56);
}
#list{
    font-size: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 20px;
    margin-top: 20px;
    line-height: 40px;
}

.list-items {
    transition: opacity 1s ease-in-out, transform 2s ease-in;
}

.list-items.done {
    opacity: 0;
}

.list-items.done .list-label {
    text-decoration: line-through;
    opacity: 0.6;
}

.input-part{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


